.improve_container {
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.improve_heading {
  font-size: 28px;
  text-align: center;
  margin: 24px 0px;
}

.improve_para{
    text-align: center;
    margin-bottom: 36px;
}

.improve_para_2{
    margin: 36px 0px;
}

.improve_frame {
  margin: auto;
  width: 100%;
  max-width: 840px;
}
