.improve_container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.improve_para_2{
    margin: 40px 0px;
}

.improve_para_2 p {
    margin: 10px 0px;
}

.improve_frame {
  margin: auto;
  width: min(900px, 100%);
}
