.success-texts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.success-page-container .heading {
  zoom: 1.2 !important;
  text-align: center !important;
  margin: 32px 0px !important;
  color: var(--color-primary1) !important;
}

.success-texts-container .text,
.success-texts-container .sub-text {
  margin: 5px 0px !important;
  color: var(--color-primary1) !important;
}

.success-page-container .features-list {
  width: min(100%, 500px);
  margin: 0px auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.success-page-container .feature {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 0px 20px 10px;
  border-bottom: 1px solid gray;
}

.success-page-container .feature:last-child {
  border: none;
}

.success-page-container .check-icon {
  color: var(--color-primary1) !important;
}

.success-page-container .cross-icon {
    color: var(--color-dark-grey) !important;
}

.number_section_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number_section_div .number_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.number_section_div .number_section p {
  font-size: 22px;
  font-weight: bold;
  color: var(--color-primary1);
  text-align: center;
}

.number_section_div .number_section p span {
  font-weight: normal;
  color: #000;
}

.premium_transfer_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.premium_transfer_div p {
  font-size: 14px;
}

.premium_transfer_div p span {
  text-decoration: underline;
  cursor: pointer;
}

.premium_transfer_div input::-webkit-outer-spin-button,
.premium_transfer_div input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.premium_transfer_div input:focus {
    border: none !important;
    outline: none !important;
}

.premium_transfer_div input {
  height: 30px !important;
  width: 130px;
  border: none;
  outline: none;
  background-color: #D9D9D9;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}

.premium_transfer_div .react-tel-input .country-list {
	max-height: 150px !important;
}

.premium_transfer_div .react-tel-input .form-control {
	pointer-events: none;
	width: 100px !important;
	background-color: #D9D9D9 !important;
  height: 30px !important;
}

.premium_transfer_div .premium_transfer_input_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.premium_transfer_div .request_plan_transfer_button {
  background-color: transparent;
  color: var(--color-primary1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.success-page-container .font_grey {
  color: grey !important;
}

.redirect_section {
  display: flex ;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.redirect_section a {
  background: var(--color-primary1);
  padding: 10px 15px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}