.home-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  background-image: url('/images/2.svg'), linear-gradient(180deg, rgba(212, 255, 252,0.6) 0%, rgba(234, 240, 255, 0.00) 100%);
  background-repeat: repeat-x;
  animation: animateBg 30s linear infinite alternate-reverse;
}

@keyframes animateBg {
  from {
      background-position: 0 0;
  }

  to {
      background-position: 100% 0;
  }
}

.home-content{
  width: 80%;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  padding-top: 10rem;
  flex-direction: column;
  position: relative;
}

.home-content .title{
  width: 80%;
  color: #4b4b4b;
  text-transform: capitalize;
  font-weight: 900;
  margin-bottom: .6rem;
}

.home-content .sub_title {
  width: 100%;
  font-weight: 600;
  text-align: center;
  color: #6d6d6d;
  text-transform: capitalize;
}

.home-content .offer{
  font-weight: bold;
  color: #585858;
}

.home-content .offer .purple{
  color: var(--color-purple);
}

.home-content .download{
  width: 100%;
  margin: 20px auto 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 100 !important;
}

.home-content .btn {
  padding: 8px 14px;
  width: 200px;
}

.home-content .howtousebtn{
  color: var(--color-primary1);
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid var(--color-primary1) !important;
  background-color: transparent;
  z-index: 1000;
  font-weight: 600;
}

.home-content .howtousebtn:hover{
  background-color: var(--color-secondary4);
  border: 2px solid var(--color-black) !important;
  color: white;
}

.home-content img{
  margin-top: 20px;
  width: min(50%, 600px);
}


@media (max-width: 980px) {
  .home-content .title{
    width: 90%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 860px) {
  .home-content {
    width: 90%;
  }
  .home-content .title{
    width: 95%;
  }
  .chat-support {
    top: auto;
    bottom: 4vh;
  }
  .home-content .btn{
    width: 180px;
  }
  .home-content img{
    width: 60%;
  }
}

@media (max-width: 580px) {
  .home-content {
    padding-top: 8rem;
  }
  .home-content .btn{
    width: 160px;
  }
  .home-content img{
    width: 70%;
  }
}

@media (max-width: 480px) {
  .home-content {
    padding-top: 7rem;
  }
  .home-content .download{
    flex-direction: column;
  }
  .home-content .btn{
    padding: 6px 10px;
    width: max-content;
  }
  .home-content img{
    width: 95%;
  }
}