.main-feature-section{
  width: 100%;
  background-size: cover;
  background: linear-gradient(180deg, #e2effa 0%, #009A8888 100%);
  padding: 8rem 2rem 4rem;
}

.main-features-content{
  width: 90%;
  max-width: 1400px;
  margin: auto;
}

.features{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
}

@media (max-width: 1200px) {
  .features{
    grid-template-columns: auto auto;
  }
  .main-feature-section{
    padding: 8rem 1rem 4rem;
  }
}

@media (max-width: 800px) {
  .features{
    grid-template-columns: auto;
  }
  .feature-card{
    width: min(400px,90%);
  }
}