.footer_main {
  position: relative;
  width: 100%;
  padding: 10px 0px 25px;
}

.footer_container {
  width: 90%;
  max-width: 1400px;
  margin: 1rem auto;  
}

.footer_row{
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1.2fr;
  place-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer_info{
  align-self: flex-start;
  justify-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.footer_logo{
  width: 40px;
  display: flex;
  align-items: center;
}

.footer_logo img{
  width: 100%
}

.footer_info h2{
  text-transform: uppercase;
  color: var(--color-primary1);
}

.footer_links{
  align-self: start;
}

.footer_links li a{
  text-decoration: none;
  color: #6c757d;
}

.footer_links h4{
  margin-bottom: 20px;
  color: #353f4f;
}

.footer_links li {
  list-style: none;
  cursor: pointer;
  margin-bottom: 15px;
  color: #6c757d;
  transition: .3s;
  text-decoration: none;
}

.footer_links li a:hover {
  color: #353f4f;
}

.footer_container .divider {
  margin-top: 40px;
  width: 100%;
  margin-bottom: 3rem;
  height: 2px;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgba(206,211,246,0) 0, #bbb 10%, #bbb 90%, rgba(206,211,246,0) 99%);
  opacity: .4;
  border: none;
}

.footer_copyright {
  text-align: center;
  color: #6c757d;
  line-height: 16px;
}

@media (max-width: 880px) {
  .footer_row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
  }

  .footer_info {
    grid-column: 1 / -1;
    margin-bottom: 10px;
  }
}

@media (max-width: 580px) {
  .footer_container .divider {
    margin: 20px 0px;
  }
}

@media (max-width: 480px) {
  .footer_row {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto  1fr 1fr;
    place-items: start;
    gap: 10px;
  }
  
  .footer_logo {
    width: 30px;
  }
  .footer_links .heading {
    margin-bottom: 10px;
  }

  .footer_links li {
    margin-bottom: 5px;
  }
}

@media (max-width: 280px) {
  .footer_row {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    place-items: center;
    text-align: center;
    gap: 10px;
  }

  .footer_links .heading {
    margin-bottom: 5px;
  }

  .footer_links li {
    margin-bottom: 3px;
  }
  .footer_info {
    justify-self: center
  }
  .footer_logo {
    width: 20px;
  }
}
